# Backend - Python
backend/__pycache__/
backend/*.pyc
backend/venv/
backend/env/
backend/.env

# Frontend - Node.js
frontend/node_modules/
frontend/dist/
frontend/.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node.js general (por si alguna carpeta node_modules o dist están fuera)
node_modules/
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# MacOS system files
.DS_Store

# Ignorar imágenes grandes o temporales en backend
backend/*.jpg
